
/* Create */

.campo-bandeira,
.campo-dia,
.campo-agencia,
.campo-conta,
.campo-instituicao,
.campo-conta-principal,
.campo-tipo,
.campo-apelido,
.campo-valor {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#labelBandeira,
#labelDiaVencimento,
#labelAgencia,
#labelConta,
#labelInstituicao,
#labelTipo,
#labelValor,
#labelApelido {
    margin-bottom: 10px;
    color: #333;
    display: block;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

#cardNumber,
#bandeira,
#diaVencimento,
#agencia,
#conta,
#instituicao,
#conta-principal,
#valor,
#apelido,
#tipo,
#toggleSwitch {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s;
    text-align: left;
    width: 100%;
}

    #cardNumber::placeholder,
    #bandeira::placeholder,
    #diaVencimento::placeholder,
    #agencia::placeholder,
    #conta::placeholder,
    #instituicao::placeholder,
    #conta-principal::placeholder,
    #valor::placeholder,
    #apelido::placeholder,
    #tipo::placeholder {
        color: #aaa;
    }


button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF8C00;
    color: white;
    font-weight: bold;
    /*margin-top: 50px;*/
}

    button:hover {
        filter: brightness(90%);
    }

.custom-placeholder {
    font-size: 16px;
    color: #aaa;
    margin-left: -12px;
}

