@using Prosperium.Management.Web.Models.Transactions
@model SelectCategoryModalViewModel
@{
    Layout = null;
}

<form name="SelectCategoryModal" role="form" class="form-horizontal">
    <div class="modal-body">
        @* <h2>Categorias</h2> *@
        <div role="tabpanel" class="tab-pane container" id="select-category">
            <div class="row">
                @foreach (var item in Model.Categories)
                {
                    @if (item.IsVisible)
                    {

                        <div class="col-md-12">
                            <div class="card categoria-modal" data-categoria-nome="@item.Name" data-categoria-id="@item.Id" data-categoria-icone="@item.IconPath">
                                <div class="card-body d-flex align-items-center" style="width: 100%;">  
                                    <div class="col-1">
                                        <img src="~/img/categories/@item.IconPath" style="border-radius: 10px;" width="50" />
                                    </div>
                                    <div class="col-10 d-flex align-items-center" style="display: flex; align-items: center; justify-content: space-between;">
                                        <h3 class="card-title" style="color: #000; font-weight: bold; margin-left: 10px;">@item.Name</h3>
                                    </div>
                                    <div class="col-1">
                                        <div class="ml-auto arrow-right">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: #FF8C00;" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path d="M11.354 8.354a.5.5 0 0 0 0-.708L9.172 5.464a.5.5 0 1 1 .707-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 1 1-.707-.708L11.354 8.354z" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</form>