<link rel="stylesheet" href="~/css/Transactions/style.css" />

@model CreateTransactionDto
@using Prosperium.Management.OpenAPI.V1.Transactions.Dto;
@using Prosperium.Management.Web.Startup
@{
    ViewData["Title"] = "Registrar Nova Transação";
    ViewBag.CurrentPageName = PageNames.Users;
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Transactions/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Transactions/Index.min.js" asp-append-version="true"></script>
    </environment>
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.17.9/tagify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tagify/4.17.9/tagify.css">

<style>
    .tagify {
        border: none;
        background: transparent;
        font-size: 16px;
        color: #333;
        outline: none;
        border-bottom: 1px solid #ccc;
        transition: border-color 0.3s;
        text-align: left;
        width: 100%;
        margin-top: -20px;
    }

    .custom-tagify {
        --placeholder-color: #aaa;
        --placeholder-color-focus: #FF8C00;
    }

        .custom-tagify::placeholder {
            color: var(--placeholder-color);
            font-size: 16px;
        }

        .custom-tagify:focus::placeholder {
            color: var(--placeholder-color-focus); /* Cor do texto do placeholder quando em foco */
        }

    .tagify__tag {
        display: inline-flex;
        align-items: center;
        margin: 20px 0 5px 5px !important;
        position: relative;
        z-index: 1;
        outline: 0;
        line-height: normal;
        cursor: default;
        transition: .13s ease-out;
    }

        .tagify__tag:hover {
            opacity: 0.8;
        }

    .tagify--maxTags, .tagify--invalid {
        border-color: red;
    }

    h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 50px;
        text-align: left;
        border-bottom: 2px solid rgba(204, 204, 204, 0.5);
        padding: 30px 0;
    }

    .custom-placeholder {
        font-size: 16px;
        color: #aaa;
    }

</style>

<div class="form-container" id="TransactionCreate">
    <h2>@ViewData["Title"]</h2>

    <form method="post">
        <div class="opcao-btn opcao-selecionada" onclick="marcarOpcao(this, 'gasto')">
            <input type="radio" name="TransactionType" value="1" style="display: none;" checked />
            <div class="opcao">Gasto</div>
        </div>

        <div class="opcao-btn" onclick="marcarOpcao(this, 'ganho')">
            <input type="radio" name="TransactionType" value="2" style="display: none;" />
            <div class="opcao">Ganho</div>
        </div>

        <div class="opcao-btn" onclick="marcarOpcao(this, 'transferencia')">
            <input type="radio" name="TransactionType" value="3" style="display: none;" />
            <div class="opcao">Transferência</div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="campo-valor">
                    <label id="labelValor" for="valor">Valor do gasto * </label>
                    <input type="text" id="valor" style="color: red; font-weight: bold;" name="ExpenseValue" placeholder="R$ 0,00" required oninput="formatarValor(this)" />
                </div>
            </div>
            <div class="col-6">
                <div class="campo-descricao">
                    <label id="labelDescricao" for="descricao">Descrição do gasto * </label>
                    <input type="text" id="descricao" name="Description" placeholder="Digite sua descrição" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="campo-categoria">
                    <label id="labelCategoria" for="categoria">Categoria *</label>
                    <div id="categoria" data-toggle="modal" data-target="#SelectCategoryModal">
                        <input type="text" class="form-control custom-placeholder" placeholder="Selecione uma categoria" style="padding: 0; background: transparent; border: none;" readonly>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="campo-tipo-cartao">
                    <label id="labelCartao">Cartão de Crédito/Débito *</label>
                    <div class="opcao-cartao-btn" onclick="marcarOpcaoCartao(this, 'credito')">
                        <input type="radio" name="PaymentType" value="1" style="display: none;" />
                        <div class="opcao">Crédito</div>
                    </div>

                    <div class="opcao-cartao-btn opcao-selecionada" onclick="marcarOpcaoCartao(this, 'debito')">
                        <input type="radio" name="PaymentType" value="2" style="display: none;" checked />
                        <div class="opcao">Débito</div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="campo-condicoes">
                    <label id="labelCondicoes">Condições de Pagamento *</label>
                    <div class="opcao-condicao-btn opcao-selecionada" onclick="marcarOpcaoCondicao(this, 'avista')">
                        <input type="radio" name="PaymentTerm" value="1" style="display: none;" checked />
                        <div class="opcao">À Vista</div>
                    </div>

                    <div class="opcao-condicao-btn" onclick="marcarOpcaoCondicao(this, 'parcelado')" style="pointerEvents:none;">
                        <input type="radio" name="PaymentTerm" value="2" style="display: none;" />
                        <div class="opcao">Parcelado</div>
                    </div>

                    <div class="opcao-condicao-btn" onclick="marcarOpcaoCondicao(this, 'recorrente')">
                        <input type="radio" name="PaymentTerm" value="3" style="display: none;" />
                        <div class="opcao">Recorrente</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="campo-conta">
                    <label id="labelConta" for="conta">Conta *</label>
                    <div id="conta" data-toggle="modal" data-target="#SelectAccountModal" style="display: flex; align-items: center; gap: 15px;">
                        <input type="text" class="form-control custom-placeholder" placeholder="Selecione uma conta" style="padding: 0; background: transparent; border: none;" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="campo-cartao" style="display: none;">
                    <label id="labelCartao" for="cartao">Cartão *</label>
                    <div id="cartao" data-toggle="modal" data-target="#SelectCardModal" style="display: flex; align-items: center; gap: 15px;">
                        <input type="text" class="form-control custom-placeholder" placeholder="Selecione um cartão" style="padding: 0; background: transparent; border: none;" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="campo-parcela" style="display: none;">
                    <label id="labelParcela" for="parcela">Parcelas *</label>
                    <input type="text" id="parcela" name="Installments" placeholder="Digite o número de parcelas" required oninput="calcularParcelas()" />
                    <div id="resultadoParcelas" style="color: red; font-weight: bold; margin-top: 10px;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="campo-mes" style="display: none;">
                    <label id="labelMes" for="mes">Primeira fatura *</label>
                    <select id="mes" name="Months" required disabled></select>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="campo-data">
                    <label id="labelData" for="data">Data da Transação *</label>
                    <input type="text" id="data" name="Date" placeholder="Selecione a data" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="campo-tags">
                    <label id="labelTags" for="tags">Tags *</label>
                    <input type="text" id="tags" name="Tags" class="tagify custom-tagify" placeholder="Adicione tag e pressione Enter" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" id="btnSubmit" class="gasto">
                Registrar Gasto
            </button>
        </div>
    </form>
</div>


<script>
    // Altera a opção:

    var tipoTransacaoSelecionado = 'gasto';

    var botaoParcelado = document.querySelector('.opcao-condicao-btn[onclick="marcarOpcaoCondicao(this, \'parcelado\')"]');
    botaoParcelado.style.pointerEvents = 'none';

    function marcarOpcao(elemento, valor) {
        var botoes = document.querySelectorAll('.opcao-btn');
        botoes.forEach(function (botao) {
            botao.classList.remove('opcao-selecionada');
        });

        elemento.classList.add('opcao-selecionada');

        var inputRadio = elemento.querySelector('input[type="radio"]');
        inputRadio.checked = true;

        var labelValor = document.getElementById('labelValor');
        var campoValor = document.getElementById('valor');
        var labelDescricao = document.getElementById('labelDescricao');
        var campoDescricao = document.getElementById('descricao');
        var btnSubmit = document.getElementById('btnSubmit');
        var campoCategoria = document.getElementById('categoria');

        campoCategoria.innerHTML = '';


        if (valor === 'gasto') {
            labelValor.textContent = 'Valor do gasto';
            campoValor.style.color = 'red';
            labelDescricao.textContent = 'Descrição do gasto';
            btnSubmit.textContent = 'Registrar Gasto';
            btnSubmit.className = 'gasto';
            btnSubmit.style.background = '#FF8C00';
            btnSubmit.style.color = 'white';
            btnSubmit.style.fontWeight = 'bold';

            $(".campo-categoria").css("display", "flex");
            $(".campo-tipo-cartao").css("display", "flex");
            $(".campo-condicoes").css("display", "flex");


        } else if (valor === 'ganho') {
            labelValor.textContent = 'Valor do ganho';
            campoValor.style.color = 'green';
            labelDescricao.textContent = 'Descrição do ganho';
            btnSubmit.textContent = 'Registrar Ganho';
            btnSubmit.className = 'ganho';
            btnSubmit.style.background = '#FF8C00';
            btnSubmit.style.color = 'white';
            btnSubmit.style.fontWeight = 'bold';

            $(".campo-categoria").css("display", "flex");
            $(".campo-tipo-cartao").css("display", "none");
            $(".campo-condicoes").css("display", "none");
            $(".campo-cartao").css("display", "none");

        } else if (valor === 'transferencia') {
            labelValor.textContent = 'Valor da transferência';
            campoValor.style.borderColor = '';
            campoValor.style.color = '#333';
            labelDescricao.textContent = 'Descrição da transferência';
            btnSubmit.textContent = 'Registrar Transferência';
            btnSubmit.className = 'transferencia';
            btnSubmit.style.background = '#FF8C00';
            btnSubmit.style.color = 'white';
            btnSubmit.style.fontWeight = 'bold';

            $(".campo-categoria").css("display", "none");
            $(".campo-tipo-cartao").css("display", "none");
            $(".campo-condicoes").css("display", "none");
            $(".campo-cartao").css("display", "none");
        }

        tipoTransacaoSelecionado = valor;

        // Adicionar novamente o campo de seleção da categoria
        var campoCategoriaDiv = document.createElement('div');
        campoCategoriaDiv.setAttribute('data-toggle', 'modal');
        campoCategoriaDiv.setAttribute('data-target', '#SelectCategoryModal');
        campoCategoriaDiv.innerHTML = '<input type="text" class="form-control custom-placeholder" placeholder="Selecione uma categoria" style="border: none; padding: 0; background: transparent; border: none;" readonly>';

        // Adicionar o campo de seleção da categoria à div de contêiner
        campoCategoria.appendChild(campoCategoriaDiv);
    }

</script>

@* Modal de categorias *@
<div class="modal fade" id="SelectCategoryModal" tabindex="-1" role="dialog" aria-labelledby="SelectCategoryModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@* Modal de contas *@
<div class="modal fade" id="SelectAccountModal" tabindex="-1" role="dialog" aria-labelledby="SelectAccountModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@* Modal de cartões *@
<div class="modal fade" id="SelectCardModal" tabindex="-1" role="dialog" aria-labelledby="SelectCardModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
