body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 95%;
    width: 100%;
    margin: 10px auto 0;
}

h2 {
    font-size: 24px;
    color: #FF8C00;
    padding-top: 30px;
    display: flex;
    font-weight: bold;
}

.title {
    margin-bottom: 50px;
    text-align: left;
    border-bottom: 2px solid rgba(204, 204, 204, 0.5);
    padding: 10px 0 30px;
}

.export-button {
    background: transparent;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: orange;
    font-weight: bolder;
    border: 2px solid;
}

#btnLimparFiltro:hover,
.export-button:hover {
    transform: scale(1.05);
}

a:hover {
    color: #fff;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

    .table th, .table td {
        padding: 80px;
    }

    .table th {
        background-color: #f2f4f8;
        color: black;
        font-weight: bold;
        border: none;
        padding: 50px;
    }

    .table tbody tr:nth-child(odd) {
        background-color: #fff;
    }

    .table tbody tr.gastos:hover,
    .table tbody tr.transferencia:hover {
        background-color: #FFE6E6; 
    }

    .table tbody tr.ganhos:hover {
        background-color: #E6FFE6;
    }

.table-responsive {
    overflow-x: auto;
}

.card {
    background: #f2f4f8;
    border: 1px solid #ddd;
    padding: 10px; 
    margin: 10px;
    text-align: start;
    margin-bottom: 20px; 
    border-radius: 10px;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.animation-card {
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.animation-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

    .icon {
    font-size: 36px; 
    margin-right: 10px;
}

.card-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.text-content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gastosValue, #ganhosValue {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
}

h3 {
    font-size: 12px;
    margin: 0;
    color: #555;
    font-weight: bold;
}

#totalGastos .icon {
    color: #e74c3c;
}

#totalGanhos .icon {
    color: #2ecc71;
}

.page-item.active .page-link {
    background-color: #FF8C00;
    border-color: #FF8C00;
    color: white;
}

.page-item .page-link:hover {
    background-color: #ddd;
    border-color: #ddd;
    color: #333;
}

.data-tables-refresh button {
    background: #FF8C00;
    margin-top: 30px;
    display: flex;
    justify-content: end !important;
    border: none;
}


.dataTables_length, #OpportunitiesTable_paginate,
.dataTables_length, #ExtractTable_paginate {
    margin-top: 20px;
    display: flex;
    justify-content: end !important;
    align-items: center;
}

.dataTables_info {
    margin-top: 30px;
    display: flex;
    justify-content: end;
    padding-top: 0.30em !important
}

.datepicker {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .datepicker table {
        width: 100%;
    }

    .datepicker th, .datepicker td {
        text-align: center;
        padding: 10px;
    }

    .datepicker .datepicker-switch {
        font-size: 18px;
    }

    .datepicker .datepicker-days table {
        margin: 0;
    }

    .datepicker table tr td,
    .datepicker table tr th {
        border-radius: 0;
    }

        .datepicker table tr td span.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active:hover {
            background-color: #FF8C00 !important;
            color: #fff !important;
            background-image: none;
        }

        .datepicker table tr td span.focused, .datepicker table tr td span:hover {
            background-color: #FF8C00 !important;
            color: #fff !important;
            background-image: none;
            font-weight: 600;
        }
