@using Prosperium.Management.Web.Startup

@{
    ViewBag.Title = "Origin Destination";
    ViewBag.CurrentPageName = PageNames.OriginDestination;
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/OriginDestinations/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/OriginDestinations/Index.min.js" asp-append-version="true"></script>
    </environment>
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="~/css/Extract/style.css" />

<style>
    .table-bordered td, .table-bordered th {
        border: none;
    }

    .custom-button {
        width: auto;
    }
</style>

<div class="form-container" id="Category">
    <h2>Origem-Destino</h2>
    <p class="title"></p>

    <table id="DestinationsTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Portal - Origem</th>
                <th>Nome - Origem</th>
                <th>Valor - Origem</th>
                <th>Discriminator</th>
                <th>Portal - Destino</th>
                <th style="width: 150px">@L("Actions")</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal fade" id="DestinationEditModal" tabindex="-1" role="dialog" aria-labelledby="DestinationEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
