<nav class="main-header navbar navbar-expand navbar-white navbar-light" style="box-shadow: 2px 2px 5px rgba(255, 165, 0, 0.2), -2px -2px 5px rgba(255, 165, 0, 0.2);">
    <div class="row" style="width: 100%; display: flex;">
        <div class="col-11" style="display: flex; justify-content: start;">
            <img src="~/img/pxp-logo.png" style="padding: 10px;" width="200vh"  />
        </div>
        <div class="col-1" style="display: flex; justify-content: center;">
            @await Html.PartialAsync("_Header.LeftNavbar.cshtml")
            @await Html.PartialAsync("_Header.RightNavbar.cshtml")
        </div>
    </div>
</nav>


<style>
    .nav-user-menu .user-image {
        width: 50px;
        margin-top: -5px;
    }

    .nav-link:hover {
        color: black;
        background-color: transparent;
    }
</style>