
<style>
    .nav-link img {
        padding: 0;
    }

    .nav-item {
        padding-left: 4px;
    }

    .nav-link {
        padding: 10px;
    }

    .nav-item.active {
        background-color: #FFA500;
        margin: -10px 0;
        padding: 0;
        width: 100vh;
        padding: 10px 0;
    }


    hr.divider-menu {
        width: 100vh!important;
        margin: 10px 0;
        border: 1px solid rgba(204, 204, 204, 0.5);
    }

    #menu-icon {
        cursor: pointer;
        padding: 10px;
        text-align: center;
        background-color: #f4f4f4;
        top: 0;
        left: 0;
    }

        #menu-icon img {
            width: 40px;
            height: 40px;
        }

    .expanded {
        width: 200px;
        margin-left: 200px;
    }

    .menu-text-visible {
        margin-left: 6vh;
        color: #FFA500;
        font-weight: bold
    }

    .nav-item.active .menu-text-visible {
        color: white;
    }

</style>


<aside class="main-sidebar elevation-4" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f4f4; display: flex; flex-direction: column; align-items: center; position: fixed; height: 100%;">
    <!-- Ícone sanduíche para expandir/recolher o menu -->
    <div id="menu-icon">
        <img src="~/img/menu/menu.png" alt="Menu" onclick="toggleMenu()">
    </div>

    <div class="sidebar" style="box-shadow: none; width: 100%; overflow-x: hidden; display: flex; flex-direction: column; justify-content: center; height: 100%; padding: 0">
        <ul class="nav flex-column" style="width: 100px; padding-top: 10px;">
            <hr class="divider-menu">

            <li class="nav-item">
                <a class="nav-link" href="#" title="Dashboard">
                    <img src="~/img/menu/dashboard.png" alt="Dashboard" width="45px" />
                    <span class="menu-text-visible">Dashboard</span>
                </a>
            </li>

            <hr class="divider-menu">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Transactions")" title="Transações">
                    <img src="~/img/menu/transaction.png" alt="Transações" width="45px" />
                    <span class="menu-text-visible">Transação</span>
                </a>
            </li>

            <hr class="divider-menu">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Accounts")" title="Contas">
                    <img src="~/img/menu/account.png" alt="Contas" width="45px" />
                    <span class="menu-text-visible">Contas</span>
                </a>
            </li>

            <hr class="divider-menu">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "CreditCard")" title="Cartões">
                    <img src="~/img/menu/cards.png" alt="Cartões" width="45px" />
                    <span class="menu-text-visible">Cartões</span>
                </a>
            </li>

            <hr class="divider-menu">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Extract")" title="Extrato">
                    <img src="~/img/menu/extract.png" alt="Extrato" width="45px" />
                    <span class="menu-text-visible">Extrato</span>
                </a>
            </li>
            <hr class="divider-menu">
        </ul>
    </div>
</aside>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

    function toggleMenu() {
        $(".sidebar").toggleClass("expanded");

        $(".nav-item").each(function () {
            var $this = $(this);
            var text = $this.find(".menu-text").text();

            if ($this.hasClass("expanded")) {
                $this.find(".nav-link").append('<span class="menu-text-visible">' + text + '</span>');
            } else {
                $this.find(".menu-text-visible").remove();
            }
        });
    }

    $(document).ready(function () {
        var currentPageUrl = window.location.pathname;
        $('.nav-link[href="' + currentPageUrl + '"]').parent().addClass('active');
    });
</script>


