<link rel="stylesheet" href="~/css/Extract/style.css" />
<link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>


@using Prosperium.Management.Web.Startup
@{
    ViewData["Title"] = "Extrato";
    ViewBag.CurrentPageName = PageNames.Extract;
}
@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Extract/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Extract/Index.min.js" asp-append-version="true"></script>
    </environment>
}


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<div class="form-container" id="ExtractCreate">
    <h2 class="title">@ViewData["Title"]</h2>

    <!-- Inputs ocultos para armazenar os IDs selecionados -->
    <input type="hidden" id="selectedAccount" name="selectedAccount" />
    <input type="hidden" id="selectedCategory" name="selectedCategory" />
    <input type="hidden" id="selectedType" name="selectedType" />

    <div class="row">
        <div class="col-6" style="display: flex; align-items: center;">
            <h2 id="resumoTitle" style="border: none; margin: 0; font-size: 1.5rem; color: #333;"></h2>
        </div>
        <div class="col-6" style="display: flex; width: 100%; align-items: center; justify-content: flex-start;">
            <form id="ExtractSearchForm" class="form-horizontal" style="width: 85%;">
                <div style="position: relative; display: flex; align-items: center;">
                    <i class="fas fa-funnel-dollar" data-toggle="modal" data-target="#FilterModal" style="font-size: 28px; color: #FF8C00; margin-right: 10px; cursor: pointer;" id="FilterIcon"></i>
                    <i class="far fa-calendar-alt" style="font-size: 28px; color: #FF8C00; margin-right: 10px; cursor: pointer;" id="calendarIcon"></i>
                    <input type="text" name="Filter" class="form-control txt-search" style="outline: none; border: 1px solid #ddd; padding-right: 30px;" oninput="HandleSearchInput(this)" id="filterInput" />
                    <input type="text" name="MonthYear" class="form-control txt-search" style="outline: none; border: 1px solid #ddd; padding-right: 30px; display: none;" oninput="HandleSearchInput(this)" id="monthYearInput" />
                    <i class="fas fa-search" style="opacity: 0.3; position: absolute; right: 10px; top: 50%; transform: translateY(-50%);"></i>
                </div>
            </form>
        </div>
    </div>

    <div class="row" style="display: flex; justify-content: space-evenly;  margin: 30px 0 0 0;">
        <div class="col-5">
            <div class="card" id="totalGastos">
                <div class="card-content">
                    <i class="fas fa-arrow-down icon"></i>
                    <div>
                        <p id="gastosValue">Carregando...</p>
                        <h3>Gastos do mês</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card" id="totalGanhos">
                <div class="card-content">
                    <i class="fas fa-arrow-up icon"></i>
                    <div>
                        <p id="ganhosValue">Carregando...</p>
                        <h3>Ganhos do mês</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="display: flex; justify-content: space-between; margin: 0;">
        <button id="btnLimparFiltro" style="background: transparent; border: none; color: #FF8C00; font-weight: bold;  visibility: hidden;">
            <i class="fas fa-times"></i> &nbsp; Limpar Filtro
        </button>
        <a href="@Url.Action("Index", "Transactions")" class="custom-button">
            <i class="fa fa-plus"></i> &nbsp; Adicionar Nova Transação
        </a>
    </div>



    <table id="ExtractTable" class="table" style="cursor:default;">
        <thead>
            <tr>
                <th width="50">Data</th>
                <th>Descrição</th>
                <th>Conta/Cartão</th>
                <th>Categoria</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div class="modal fade" id="FilterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
