@* <link rel="stylesheet" href="~/css/Accounts/style.css" /> *@


<link defer rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>



@using Prosperium.Management.Web.Startup
@{
    ViewData["Title"] = "Minhas contas";
    ViewBag.CurrentPageName = PageNames.Accounts;
}

@section scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Accounts/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Accounts/Index.min.js" asp-append-version="true"></script>
    </environment>
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
    }

    .form-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        max-width: 95%;
        width: 100%;
        margin: 10px auto 0;
    }

    h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 50px;
        text-align: left;
        border-bottom: 2px solid rgba(204, 204, 204, 0.5);
        padding: 30px 0;
    }

    .custom-button {
        background-color: #FF8C00;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

        .custom-button:hover {
            transform: scale(1.05);
        }

    a:hover {
        color: #fff;
    }

    .card {
        background: #f2f4f8;
        border: 1px solid #ddd;
        padding: 10px;
        margin: 10px;
        text-align: center;
        border-radius: 10px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .icon {
        font-size: 36px;
    }

    .card-content {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .text-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr.divider {
        width: 100%;
        margin: 10px 0;
        border: 1px solid rgba(204, 204, 204, 0.5);
    }

    .saldo-label {
        font-size: 14px;
        margin: 0;
        color: #555;
    }

    .saldo-valor {
        font-size: 18px;
        margin: 0;
        font-weight: bold;
    }
</style>

<div class="form-container" id="AccountCreate">
    <h2>@ViewData["Title"]</h2>
    <div class="row" style="display: flex; justify-content: flex-end;">
        <a href="@Url.Action("CreateAccount", "Accounts")" class="custom-button">
            <i class="fa fa-plus"></i> &nbsp; Adicionar Nova Conta
        </a>
    </div>

    <div id="card-container" style="/* display: flex; justify-content: space-around; */ padding: 40px 10px;"></div>
</div>

<script>
    $(document).ready(function () {
        UpdateCardValues();
    });

    function UpdateCardValues() {
        var cardContainer = $('#card-container');
        $.ajax({
            url: '/App/Accounts/GetAccounts',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                $('#card-container').empty();

                var cardHtml = '<div class="row">';

                data.result.forEach(function (account, index) {
                    cardHtml += `
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-content" style="cursor:pointer;">
                                                <div class="text-content">
                                                            <div class="row" style="display: flex; align-items: baseline; justify-content: flex-start; width: 100%;">
                                                            <div class="col-10" style="margin-left: -15px;display: flex;padding-left: 30px;float: left;">
                                                                <h3 style="font-size: 19px; font-weight: bold;">${account.accountNickname}</h3>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="icon">
                                                                <img src="/img/banks/${account.bank.imagePath}" width="40"  style="border-radius: 10px; margin-top: 5px;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="divider">
                                                    <div class="row" style="width:100%;">
                                                        <div class="col-11">
                                                            <p class="saldo-label">Saldo atual:</p>
                                                            <p class="saldo-valor">R$ ${account.balanceAvailable.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}</p>
                                                        <p class="saldo-label" style="padding-left: 15px;">Tipo de Conta: ${getAccountTypeName(account.accountType)}</p>
                                                        </div>
                                                        <div class="col-1 d-flex align-items-center">
                                                            <div class="ml-auto arrow-right">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: #FF8C00;" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                                    <path d="M11.354 8.354a.5.5 0 0 0 0-.708L9.172 5.464a.5.5 0 1 1 .707-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 1 1-.707-.708L11.354 8.354z" />
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;

                    // Se o índice é ímpar ou é o último card, fecha a linha
                    if (index % 2 !== 0 || index === data.length - 1) {
                        cardHtml += '</div>'; // Fecha a linha
                        // Se não for o último card, inicia uma nova linha
                        if (index !== data.length - 1) {
                            cardHtml += '<div class="row">';
                        }
                    }
                });

                cardContainer.append(cardHtml);
            },
            error: function (error) {
                console.error('Erro na requisição:', error);
            }
        });
    }

    function getAccountTypeName(accountType) {
        switch (accountType) {
            case 1:
                return 'Corrente';
            case 2:
                return 'Poupança';
            case 3:
                return 'Investimento';
            case 4:
                return 'Outros';
            case 5:
                return 'Indefinido';
            case 6:
                return 'Benefícios';
            default:
                return 'Desconhecido';
        }
    }
</script>


