body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 95%;
    width: 100%;
    margin: 10px auto 0;
}

h2 {
    font-size: 24px;
    color: #FF8C00;
    padding-top: 30px;
    display: flex;
    font-weight: bold;
}

.title {
    margin-bottom: 50px;
    text-align: left;
    border-bottom: 2px solid rgba(204, 204, 204, 0.5);
    padding: 10px 0 30px;
}

.campo-agencia,
.campo-conta,
.campo-instituicao,
.campo-conta-principal,
.campo-tipo,
.campo-apelido,
.campo-valor {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#labelAgencia,
#labelConta,
#labelInstituicao,
#labelTipo,
#labelValor,
#labelApelido {
    margin-bottom: 10px;
    color: #333;
    display: block;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

#agencia,
#conta,
#instituicao,
#conta-principal,
#valor,
#apelido,
#tipo,
#toggleSwitch {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s;
    text-align: left;
    width: 100%;
}

    #agencia::placeholder,
    #conta::placeholder,
    #instituicao::placeholder,
    #conta-principal::placeholder,
    #valor::placeholder,
    #apelido::placeholder,
    #tipo::placeholder,
    #toggleSwitch::placeholder {
        color: #aaa;
    }

#labelContaPrincipal,
.campo-conta-principal {
    margin-bottom: 10px;
    color: #333;
    display: block;
    font-size: 11px;
    width: 100%;
    align-items: center;
}

.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

    .toggleSwitch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd; /* Laranja claro para o fundo (quando false) */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

    .slider:before {
        position: absolute;
        content: "Não";
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
        color: #333;
        font-size: 11px;
        left: 0;
        bottom: 0;
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

input:checked + .slider:before {
    content: "Sim";
    color: white;
    background-color: #FFA500; /* Laranja para a bolinha (quando true) */
    transform: translateX(30px);
}

input:focus + .slider:before {
    box-shadow: 0 0 1px #FFA500; /* Laranja para o efeito de foco (quando true) */
}

input:checked + .slider {
    background-color: #F0E68C; /* Laranja claro para o fundo (quando true) */
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF8C00;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}

    button:hover {
        filter: brightness(90%);
    }

.custom-placeholder {
    font-size: 16px;
    color: #aaa;
}

.label-with-note {
    font-size: smaller;
    color: black;
    opacity: 0.5;
}
