@using Abp.MultiTenancy
@using Prosperium.Management.Web.Models.Common.Modals
@using Prosperium.Management.Web.Views.Shared.Components.TenantChange
@model ChangeModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Alterar usuário"))

<form name="TenantChangeForm" role="form" novalidate class="form-horizontal">
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="campo-user" style="margin-top: 0;">
                    <label id="labelUser" for="password">Usuário *</label>
                    <input id="TenancyName" name="TenancyName" class="form-control" type="text" maxlength="@AbpTenantBase.MaxTenancyNameLength.ToString()" value="@Model.TenancyName">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="submit" class="save-button">@L("Save")</button>
    </div>
</form>

<script src="~/view-resources/Views/Shared/Components/TenantChange/_ChangeModal.js" asp-append-version="true"></script>
