body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-family: 'Roboto', Arial, sans-serif;*/
    background-color: #f4f4f4;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 95%;
    width: 100%;
    margin: 10px auto 0;
}

h2 {
    color: #333;
}

.opcao-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .opcao-btn:hover {
        background-color: #eee;
    }

.opcao-selecionada {
    background-color: #FF8C00;
    color: white;
}

.campo-mes,
.campo-data,
.campo-parcela,
.campo-tags,
.campo-valor,
.campo-descricao {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#labelMes,
#labelData,
#labelParcela,
#labelTags,
#labelValor,
#labelDescricao {
    margin-bottom: 10px;
    color: #333;
    display: block;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

#mes,
#data,
#parcela,
#tags,
#valor,
#descricao {
    border: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s;
    text-align: left;
    width: 100%;
}

    .custom-placeholder::placeholder,
    #valor::placeholder,
    #mes::placeholder,
    #data::placeholder,
    #parcela::placeholder,
    #tags::placeholder,
    #data::placeholder,
    #descricao::placeholder {
        font-size: 16px;
        color: #aaa;
        padding: 10px;
    }

/* Adicione esta regra de estilo ao seu arquivo de estilos CSS */
.custom-tagify .tagify__input::placeholder {
    color: #6c757d; /* Cor do texto do placeholder */
}

.custom-tagify .tagify__input:focus::placeholder {
    color: #3595f6; /* Cor do texto do placeholder quando em foco */
}


    .tagify__input {
    margin-top: 20px !important;
}


.form-group {
    margin-top: 20px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF8C00;
    color: white;
    font-weight: bold;
    margin-top: 50px;
}

    button:hover {
        filter: brightness(90%);
    }

.campo-cartao,
.campo-categoria,
.campo-conta,
.campo-tipo-cartao,
.campo-condicoes {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#labelTags,
#labelCartao,
#labelCategoria,
#labelConta,
#labelCartao,
#labelCondicoes {
    margin-bottom: 10px;
    color: #333;
    display: block;
    font-size: 14px;
    text-align: left;
    width: 100%;
}



#cartao,
#categoria,
#conta,
#tipoCartao,
#tipoCondicao {
    border: none;
    background: transparent;
    font-size: 18px;
    color: #333;
    outline: none;
    border-bottom: 1px solid #ccc;
    transition: border-color 0.3s;
    text-align: left;
    width: 100%;
}


    #cartao:hover,
    #categoria:hover,
    #conta:hover,
    #categoria:focus,
    #tipoCartao:hover,
    #tipoCartao:focus,
    #tipoCondicao:hover,
    #tipoCondicao:focus {
        border-color: #aaa;
    }

    #categoria, #conta option {
        background-color: #fff;
        color: #333;
    }

#tipoCartao,
#tipoCondicao {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, #ccc 50%), linear-gradient(135deg, #ccc 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

.opcao-cartao-btn,
.opcao-condicao-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

    .opcao-cartao-btn:hover,
    .opcao-condicao-btn:hover {
        background-color: #eee;
    }

.opcao-selecionada {
    background-color: #FF8C00;
    color: white;
}

.campo-tipo-cartao,
.campo-condicoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    flex-wrap: wrap;
}

    .campo-tipo-cartao .opcao-btn,
    .campo-condicoes .opcao-btn {
        margin-right: 10px;
    }

.flatpickr-calendar {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.flatpickr-months {
    background-color: #FF8C00;
}

.flatpickr-days {
    background-color: #f4f4f4;
}

.flatpickr-day {
    color: #333;
}

    .flatpickr-day.today {
        background-color: #FF8C00;
        color: #fff;
    }

    .flatpickr-day.selected {
        background-color: #FF8C00;
        color: #fff;
    }




/* Estilos para o modal */
#SelectCategoryModal .modal-content {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
}

#SelectCategoryModal h2 {
    color: #FF8C00;
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para os cards */
.categoria-modal {
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
}

    .categoria-modal:hover {
        transform: scale(1.05);
    }

    .categoria-modal .card-content {
        display: flex;
        align-items: center;
    }

    .categoria-modal .icon {
        margin-right: 15px;
        color: #FF8C00;
    }

    .categoria-modal .card-body {
        text-align: center;
    }

    .categoria-modal .card-title {
        color: #FF8C00;
        font-size: 15px;
        font-weight: bold;
    }

    .categoria-modal .card-description {
        color: #555;
        font-size: 16px;
        margin-top: 10px;
    }

    .categoria-modal .arrow-icon {
        color: #FF8C00;
        font-size: 24px;
    }

.hidden {
    display: none;
}


@keyframes rotateGasto {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes scaleGanho {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes changeColorTransferencia {
    0% {
        background-color: #FF8C00;
    }

    50% {
        background-color: #45a049;
    }

    100% {
        background-color: #FF8C00;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes buttonAnimation {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1);
    }
}


